body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

nav a {
    margin-right: 10px;
}

#analyze {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, button {
    margin: 20px;
}